/* Header fonts */

h1, h2, h3, h4, h5{
    font-family: "Tan", serif;
}

p, a, body{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #ead9d5;
}

.bg-hero{
background-image: url("../public/images/hero-fondo.png");
background-size: contain;
background-repeat: no-repeat;
background-color: #FFF5E9;
background-position: right bottom;
}

/* Fonts src/index.css */
@font-face {
    font-family: 'Tan';
    src: url('./assets/fonts/TAN-PEARL-Regular.woff2') format('woff2'),
         url('./assets/fonts/TAN-PEARL-Regular.woff') format('woff'),
         url('./assets/fonts/TAN-PEARL-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.boton{
    border-radius: 20px;
}
